body {
    background-color: #fdf6e3;
    color: #657b83;
    font-size: 16px ;
}

header {
    text-align: right;
}

.social {
    list-style-type: none;
}

.social li {
    display: inline;
}

.one {
    background-color: #002b36;
    display: block;
}

.two {
    background-color: #fdf6e3;
    display: block;
}