body {
    font-size: 16px;
}

header {
    text-align: right;
}

.nav {
    list-style-type: none;
}

.nav li {
    display: inline;
}

footer {
    list-style-type: none;
}

footer li {
    display: inline;
}

a {

}

a:visited {

}

a:hover {

}