li {
    list-style: none;
}

body {
    background-color: #fdf6e3;
    color: #657b83;
}

.one {
    background-color: #002b36;
    height: 200px;
    display: block;
}

.two {
    background-color: #fdf6e3;
    height: 200px;
    display: block;
}